* {
  padding: 0;
  margin: 0;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.pages {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.notifyjs-bootstrap-base {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border-radius: 10px !important;
  color: rgb(255, 255, 255) !important;
  border: 0 !important;
  font-family: 'Roboto', sans-serif !important;
  text-transform: capitalize !important;
  font-weight: normal !important;
  backdrop-filter: blur(2px);
}

.projects-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;

  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  margin-top: 20px;
}

.card {
  position: relative;
  background-color: #161d27;
  height: 112px;
  width: auto;
  border-radius: 10px;

  display: flex;
  padding: 15px;
}

.card > img {
  border-radius: 50%;
  width: 75px;
  height: 75px;
  object-fit: scale-down;
}

.card > div {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card > a {
  position: absolute;
  top: 15px;
  right: 15px;
  display: none;
}

.card:hover > a {
  display: block;
}

@media screen and (min-width: 1024px) {
  .projects-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}